In [1]:
from datetime import datetime
import numpy as np
import pandas as pd
import dados

## Localização de chamados do 1746
#### Utilize a tabela de Chamados do 1746 e a tabela de Bairros do Rio de Janeiro para as perguntas de 1-5.

1. Quantos chamados foram abertos no dia 01/04/2023?

Resposta: No dia 01/04/2023 foram abertos 1756 chamados.

In [2]:
df_chamado_1746 = dados.chamado_1746()

In [3]:
df_chamado_1o_de_abril = df_chamado_1746[
    (datetime(2023, 4, 1) <= df_chamado_1746["data_inicio"])
    & (df_chamado_1746["data_inicio"] < datetime(2023, 4, 2))
]
df_chamado_1o_de_abril["id_chamado"].count()

1756

2. Qual o tipo de chamado que teve mais teve chamados abertos no dia 01/04/2023?

Resposta: no dia 01/04/2023 o tipo que teve mais chamados abertos foi "Estacionamento irregular".

In [4]:
df_chamado_1o_de_abril[["id_tipo", "tipo"]].value_counts().sort_values(
    ascending=False
).head(1)

id_tipo  tipo
782      Estacionamento irregular    366
dtype: int64

3. Quais os nomes dos 3 bairros que mais tiveram chamados abertos nesse dia?

Resposta: Campo Grande com 113 chamados, Tijuca com 89 e Barra da Tijuca com 59.

In [5]:
df_bairro = dados.bairro()

In [6]:
df_top_reclamacoes = pd.DataFrame(
    df_chamado_1o_de_abril[["id_bairro"]].value_counts(), columns=["count"]
)
pd.merge(
    df_top_reclamacoes,
    df_bairro[["id_bairro", "nome"]].set_index("id_bairro"),
    on=["id_bairro"],
).head(3)

           count             nome
id_bairro
144          113     Campo Grande
33            89           Tijuca
128           59  Barra da Tijuca

4. Qual o nome da subprefeitura com mais chamados abertos nesse dia?

Resposta: Zona Norte com 510 chamados.

In [7]:
pd.merge(
    df_top_reclamacoes,
    df_bairro[["id_bairro", "subprefeitura"]],
    on=["id_bairro"]
).groupby(["subprefeitura"]).sum().sort_values(by=["count"], ascending=False).head(1)

               count
subprefeitura
Zona Norte       510

5. Existe algum chamado aberto nesse dia que não foi associado a um bairro ou subprefeitura na tabela de bairros? Se sim, por que isso acontece?

Resposta: Existem vários, todos estão associados a transporte/mobilidade ou atendimento por canais eletrônicos.

In [8]:
df_chamado_bairro = pd.merge(
    df_chamado_1o_de_abril[["id_bairro", "tipo", "subtipo"]],
    df_bairro[["id_bairro", "nome", "subprefeitura"]].set_index("id_bairro"),
    on=["id_bairro"],
    how="left",
)
df_chamado_bairro[df_chamado_bairro["nome"].isnull()][
    ["tipo", "subtipo"]
].drop_duplicates()

,tipo,subtipo
70,Ônibus,Verificação de ar condicionado inoperante no ô...
247,Atendimento ao cidadão,Solicitação de correção de falhas e de cadastr...
427,BRT (corredor expresso de ônibus),Verificação do serviço BRT - Transolímpica
436,Alvará,Solicitação de orientações sobre o alvará pela...
632,Ônibus,Fiscalização de irregularidades em linha de ôn...
842,Atendimento ao cidadão,Solicitação da gravação do atendimento 1746
1393,Estacionamento irregular,Fiscalização de estacionamento irregular de ve...
1453,Transporte Especial Complementar - TEC,Fiscalização do transporte complementar
1736,Defesa do Consumidor,Verificação de problemas com produtos ou servi...

## Chamados do 1746 em grandes eventos
#### Utilize a tabela de Chamados do 1746 e a tabela de Ocupação Hoteleira em Grandes Eventos no Rio para as perguntas de 6-10. Para todas as perguntas considere o subtipo de chamado "Perturbação do sossego".

6. Quantos chamados com o subtipo "Perturbação do sossego" foram abertos desde 01/01/2022 até 31/12/2023 (incluindo extremidades)?

7. Selecione os chamados com esse subtipo que foram abertos durante os eventos contidos na tabela de eventos (Reveillon, Carnaval e Rock in Rio).

8. Quantos chamados desse subtipo foram abertos em cada evento?

9. Qual evento teve a maior média diária de chamados abertos desse subtipo?

10. Compare as médias diárias de chamados abertos desse subtipo durante os eventos específicos (Reveillon, Carnaval e Rock in Rio) e a média diária de chamados abertos desse subtipo considerando todo o período de 01/01/2022 até 31/12/2023.